html {
  scrollbar-color: #888397 #27242f;
}
body {
  margin: 0;
  color: #888397;
}
main {
  height: 1800px;
}
h2 {
  margin: 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  background: #827c97;
  color: #1f1d24;
}
.main {
  height: 1800px;
  padding: 80px 0;
  background: #27242f;
}
.footer {
  height: 400px;
  padding: 40px 0;
  background: #1f1d24;
}
