.header {
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: -100%;
  height: 80px;
  padding: 24px 0;
  background: #fff;
  box-shadow: 0 0 20px #000;
  z-index: 200;
  transition: all 1s ease-in, transform 0.1s linear, top 0s;
}
.header.--hidden {
  transform: translateY(-10px);
  visibility: hidden;
}
